<div ng-controller='loginController' class="login-container">
    <p class="login-heading">
        Login or sign up to start sharing music!
    </p>
    <section class="login-form">
        <form>
            <div class="login-input">
                <input type="text" id="username" placeholder="Username"/>
                <i class="fa fa-user"></i>
            </div>
            <div class="login-input">
                <input type="password" id="password" placeholder="Password"/>
                <i class="fa fa-lock"></i>
            </div>
            <div>
                <input type="submit" id="loginButton" value="Login"/>
            </div>  
            <div>
                <input type="button" id="signupButton" value="Sign Up"/>
            </div>
        </form>
    </section>
</div>